if: tag IS blank
jdk:
  - oraclejdk13
language: java
install: true
cache:
  directories:
    - "$HOME/.m2/repository"
    - "$HOME/.sonar/cache"
addons:
  sonarcloud:
    organization: dniel-github
    token: "$SONAR_TOKEN"
services:
  - docker
before_script:
  - export TRAVIS_TAG=$(git rev-parse --short ${TRAVIS_COMMIT})
  - export BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - export COMMIT_TIME=$(git log -1 --pretty=format:%ct|date +"%m%d%Y-%H%M")
  - export APP_VERSION=$COMMIT_TIME-$TRAVIS_TAG
  - echo "$TRAVIS_TAG $TRAVIS_COMMIT $BRANCH $COMMIT_TIME"
script:
  - echo "TRAVIS_SECURE_ENV_VARS=${TRAVIS_SECURE_ENV_VARS}";
  - |
    if [ "${TRAVIS_SECURE_ENV_VARS}" == "true" ]; then
      echo;
      echo "Running Sonar build";
      mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsha1=$APP_VERSION -Dchangelist=$BRANCH;
    fi;
  - |
    if [ "${TRAVIS_SECURE_ENV_VARS}" == "false" ]; then
      echo;
      echo "Running Pull Request build without Sonar";
      mvn clean install;
    fi;
after_success:
  - docker build -f Docker/Dockerfile -t dniel/forwardauth .

deploy:
  - provider: script
    skip_cleanup: true
    script: "./.travis/deploy_release.sh"
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: "./.travis/deploy_feature.sh"
    on:
      all_branches: true
      if: $BRANCH != "master"

notifications:
  slack:
    secure: "A0lnSoFq8Rm15jHJS+yNt1MqAoWG7jpu0Nj1VjfMRxkaLDJ4sj+wufRZqH9E04rpdjVnNp3W8HSj6p9a0Qd98OVC2clhv99H26c5SdxXGteF7/WwC7FU5W59pQg/bYi3F/WDljXyvXnVPs9CrKWFrlwEowFSsrZJ8zMs8rmibsw7ye+GQVdLRxI8FKRNl2Rrwg5M354glxtyaXu9R/HbI5XdRSdfOVBCfVTTseuaNGSKNnBRKqTMHGf7eEIuoABtps8LsHsZnI5dmEqJ3pW9mrniZHHbgf2u4Nmjojg9Foe98n4GwNzmcGi2u4hprxNGqDBxw6GjoY1ww3CAOZRHdd0LzaL1o2r/7mEJlMtw6awLmbceYq588Yt79nlu45RgEnxJoarG3e77LBb+D5PN2lFjbFBXBITGSCQ0dt3WbDRiGlxL9ipJEAl4h8F1CDbV3zxblteANYns7YS8wEb3W8NDhdIaUuLA95eyP/l5n+1ReOMXjkvIgiTeU1G8yZ/+mVm5sDS2+ayfJtHezzeC+3fnttwCoUjw/DnyCG8qJBK5prQ8lC6ORiIL7t24TKMUWiqQvZ6ngCzfaCZab27JpxjqFgJNa/eivOfTtwQAPoeA+FUlCuj5bXkLJ1LZzGsDsWOY2/Xj0Rjado5VToadL2V4fX7alL86v15Z8v2iDaw="