jdk:
  - oraclejdk8
language: java
before_install:
  - chmod +x mvnw
cache:
  directories:
    - $HOME/.m2

install:
  - mvn -N io.takari:maven:wrapper
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
