<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <logger name="org.springframework.web" level="WARN"/>
    <logger name="dniel.forwardauth" level="INFO"/>

    <springProfile name="DEV">
        <logger name="dniel.forwardauth" level="TRACE"/>
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>
    </springProfile>
    <springProfile name="TEST">
        <logger name="dniel.forwardauth" level="DEBUG"/>
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="DEBUG"/>
    </springProfile>
    <springProfile name="PRODUCTION">
        <logger name="dniel.forwardauth" level="WARN"/>
    </springProfile>
</configuration>
