<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%X{userId}] - %date{ISO8601} [%thread] %-5level - %logger{120} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.thymeleaf" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <springProfile name="DEV">
        <logger name="dniel" level="TRACE" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>
    <springProfile name="TEST">
        <logger name="dniel" level="DEBUG" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>
    <springProfile name="PRODUCTION">
        <logger name="dniel" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>


</configuration>