# This is an example docker-compose file.
# It will not run without configuring a working /config/traefik.toml and /config/application.yaml
# Have a look at the files in the example directory as a starting point how to create the two files.
version: '2.4'
services:
  traefik:
    image: traefik:1.7.21-alpine
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/etc/traefik

#  auth:
#    image: dniel/forwardauth
#    ports:
#      - 8080:8080
#    mem_limit: 512m
#    mem_reservation: 256m
#    labels:
#      - "traefik.frontend.rule=Host:auth.example.test"
#      - "traefik.enable=true"
#      - "traefik.port=8080"
#    volumes:
#      - ../../config/application.yaml:/config/application.yaml

  www:
    image: dniel/blogr-www
    labels:
      - "traefik.frontend.rule=Host:www.example.test"
      - "traefik.enable=true"
      - "traefik.port=80"
      - "traefik.frontend.auth.forward.address=http://host.docker.internal:8080/authorize"
      - "traefik.frontend.auth.forward.authResponseHeaders=Authorization,X-FORWARDAUTH-NAME, X-FORWARDAUTH-SUB, X-FORWARDAUTH-EMAIL"


  whoami:
    image: containous/whoami
    labels:
      - "traefik.frontend.rule=Host:whoami.example.test"
      - "traefik.enable=true"
      - "traefik.port=80"
      - "traefik.frontend.auth.forward.address=http://host.docker.internal:8080/authorize"
      - "traefik.frontend.auth.forward.authResponseHeaders=Authorization,X-FORWARDAUTH-NAME, X-FORWARDAUTH-SUB, X-FORWARDAUTH-EMAIL"
